# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.

# kube
.kube/